<footer class="footer">
  <div class="container">
    <a href="#header" aria-label="company logo">
      <img class="logo" src="./assets/images/logo.svg" alt="company logo" />
    </a>
    {% include 'components/nav-menu.html' %}
    <ul class="social__list">
      <li>
        <a href="#" aria-label="facebook">
          <svg class="social__icon" aria-label="facebook">
            <use href="./assets/images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="linkedin">
          <svg class="social__icon" aria-label="facebook">
            <use href="./assets/images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="instagram">
          <svg class="social__icon" aria-label="instagram">
            <use href="./assets/images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="contacts">
      <h3>contact us</h3>
      <a href="mailto:support@markify.com">support@markify.com</a>
    </div>
  </div>
</footer>
