<footer class="footer">
  <div class="container">
    <div class="footer-meta">
      <a href="#header" class="logo" aria-label="company logo"> total clean </a>
      {% include 'components/nav-menu.html' %}
      <ul class="social-list" data-social-media>
        <li>
          <button class="social-item" type="button" aria-label="facebook">
            <svg aria-label="facebook">
              <use href="./assets/images/sprite.svg#icon-facebook"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="social-item" type="button" aria-label="instagram">
            <svg aria-label="instagram">
              <use href="./assets/images/sprite.svg#icon-instagram"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="social-item" type="button" aria-label="whatsapp">
            <svg aria-label="whatsapp">
              <use href="./assets/images/sprite.svg#icon-whatsapp"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <p class="copyright">Created by SoftRyzen</p>
  </div>
</footer>
