<header id="header" class="header">
  <div class="header__container container">
    <a href="./index.html">
      <img class="logo" src="./assets/images/logo.svg" alt="company logo" />
    </a>
    <div class="menu__container">
      {% include 'components/nav-menu.html' %}
      <button class="main-btn" type="button">sign up</button>
    </div>
    <button class="burger-menu" type="button" aria-label="navigation menu" data-burger-menu>
      <svg width="24px" height="24px" aria-label="navigation menu icon">
        <use href="./assets/images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
