html {
  box-sizing: border-box;

  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;

  font-family: var(--primary-font);
  color: var(--text-description);

  font-size: 16px;
  line-height: 1.5;

  background: var(--bg-white);
}

html>body>.page {
  height: 100%;
  position: relative;
  overflow: auto;

  scroll-behavior: smooth;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.page {
  background-image: url('../images/hero/bg-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: local;
  background-size: contain;

  @include mq(desktop) {
    background-image: url('../images/hero/bg-desktop.svg');
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.scroll-hidden {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

button {
  padding: 0;
  border: none;

  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 40px;

  font-family: Exo;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;

  color: var(--text-title);
  text-transform: capitalize;

  @include mq(desktop) {
    font-size: 32px
  }
}

.subtitle {
  @extend .title;
  margin-bottom: 16px;

  font-size: 18px;
  text-align: left;

  @include mq(desktop) {
    font-size: 24px;
  }
}

.description {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--text-description);
}

.logo {
  width: 145.5px;
  height: 36px;

  @include mq(desktop) {
    width: 194px;
    height: 48px;
  }
}

.image {
  margin: 0 auto;
  width: 285px;

  @include mq(desktop) {
    margin: 0;
    width: 461px;
  }
}

.accent-btn {
  width: 170px;
  padding: 12px 24px;

  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;

  border-radius: 5px;
  background: var(--secondary);

  transition: background-color var(--fast) linear, color var(--fast) linear;

  &:hover,
  &:focus {
    color: var(--main);
    background-color: var(--bg-white);
  }

  @include mq(desktop) {
    font-weight: 700 ;
  }
}

.main-btn {
  @extend .accent-btn;
  width: 111px;

  background-color: var(--main);
  color: var(--text-white);

  &:hover,
  &:focus {
    color: var(--text-white);
    background-color: var(--secondary);
  }
}

.text-underline {
  position: relative;
  z-index: 1;

  white-space: nowrap;

  &::after {
    content: '';
    width: 100%;
    height: 10px;

    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -1;

    border-radius: 21px;
    background-color: var(--secondary);

    @include mq(desktop) {
      height: 12px;
      bottom: 6px;
    }
  }
}