.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;

  @include mq(mobile) {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(desktop) {
    max-width: 1440px;
    padding-left: 150px;
    padding-right: 150px;
  }
}
