.about-us__container {
  @include mq(tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.about-us__text-wrapper {
  @include mq(tablet) {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 336px;
  }
  @include mq(desktop) {
    width: 610px;
    justify-content: flex-start;
  }
}

.about-us__title {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}

.about-us__text {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-txt-cl);

  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.about-us__text:last-of-type {
  margin-bottom: 0;
}

.about-us__info-list {
  position: relative;
  height: 143px;
  @include mq(tablet) {
    width: 336px;
    height: 312px;
  }
  @include mq(desktop) {
    width: 545px;
    height: 315px;
  }
}

.about-us__circle-wrapper {
  position: absolute;

  &--blue {
    bottom: 0;
    left: 0;
    @include mq(tablet) {
      top: 0;
    }
    @include mq(desktop) {
      top: 5px;
    }
  }
  &--yellow {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include mq(tablet) {
      top: 150px;
    }
    @include mq(desktop) {
    }
  }
  &--brown {
    bottom: 0;
    right: 0;
    @include mq(tablet) {
      top: 10px;
    }
    @include mq(desktop) {
      top: 0;
    }
  }
}

.about-us__info-item {
  &--large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(179, 234, 254, 0.5);
    @include mq(tablet) {
      width: 160px;
      height: 160px;
    }
    @include mq(desktop) {
      width: 220px;
      height: 220px;
    }
  }

  &--small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-txt-cl);
    background-color: var(--secondary-accent-cl);

    @include mq(tablet) {
      width: 124px;
      height: 124px;
      font-size: 18px;
      line-height: 1.56;
    }
    @include mq(desktop) {
      width: 180px;
      height: 180px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
}

.about-us__info-item--large.about-us__info-item--yellow {
  background-color: rgba(255, 255, 197, 0.5);
  @include mq(desktop) {
    width: 180px;
    height: 180px;
  }
}
.about-us__info-item--large.about-us__info-item--brown {
  background-color: rgba(255, 221, 152, 0.5);
  @include mq(desktop) {
    width: 200px;
    height: 200px;
  }
}

.about-us__info-item--small.about-us__info-item--yellow {
  background-color: var(--teams-bg);
  @include mq(desktop) {
    width: 140px;
    height: 140px;
  }
}
.about-us__info-item--small.about-us__info-item--brown {
  margin-left: 0px;
  background-color: var(--cleaning-bg);
  @include mq(desktop) {
    width: 160px;
    height: 160px;
  }
}

.about-us__info-item-num {
  font-family: var(--title-font);
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-txt-cl);
  @include mq(tablet) {
    font-size: 44px;
    line-height: 1.14;
  }
  @include mq(desktop) {
    font-size: 52px;
    line-height: 1.15;
  }
}
