.contact {
  padding-top: 40px;
  background-image: linear-gradient(
    to bottom,
    var(--secondary-accent-cl) 498px,
    var(--white) 498px,
    var(--white) 100%
  );

  @include mq(tablet) {
    padding-top: 60px;
    background-image: linear-gradient(
      to bottom,
      var(--secondary-accent-cl) 740px,
      var(--white) 740px,
      var(--white) 100%
    );
  }

  @include mq(desktop) {
    padding-top: 80px;
    background-image: linear-gradient(
      to bottom,
      var(--secondary-accent-cl) 620px,
      var(--white) 620px,
      var(--white) 100%
    );
  }
}

.contact__container {
  max-width: 272px;
  padding: 24px 12px;
  border: 1px solid var(--subtitle-txt-cl);
  border-radius: 20px;
  background-color: var(--white);

  @include mq(tablet) {
    max-width: 570px;
    padding: 40px 39px;
  }

  @include mq(desktop) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 947px;
    padding: 40px;
  }
}

.contact__title,
.contact__subtitle {
  text-align: left;
  margin-bottom: 16px;

  @include mq(tablet) {
    width: 100%;
    justify-content: center;
  }
}

.contact__title {
  @include mq(tablet) {
    padding-left: 110px;
    margin-bottom: -15px;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include mq(desktop) {
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 24px;
    height: 40px;
  }
}

.contact__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  @include mq(tablet) {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.56;
  }
  @include mq(desktop) {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.contact__send-btn {
  padding: 16px 105px;
  margin: 0 auto;
  margin-top: 24px;

  @include mq(tablet) {
    padding: 18px 101px;
    margin-top: 28px;
  }
  @include mq(desktop) {
    margin-top: 40px;
  }

  &:disabled {
    background-color: var(--disabled-btn);
  }
}

.contact__form-control {
  position: relative;
  @include mq(tablet) {
    margin-bottom: 10px;
  }
}

.contact__icon-user,
.contact__icon-phone,
.contact__icon-edit {
  position: absolute;
  top: 42px;
  left: 18px;
  margin-right: 8px;
  stroke: var(--copyright-txt-cl);
}

.contact__form-input {
  padding: 12px 18px 12px 46px;
  width: 100%;
  height: 48px;
  border: 1px solid var(--disabled-txt-cl);
  border-radius: 10px;
  background-color: transparent;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-txt-cl);

  &:focus {
    border-color: var(--accent-cl);
  }

  &--message {
    height: 144px;
    resize: none;
  }

  &::placeholder,
  &--message::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--copyright-txt-cl);
  }
}

.contact__form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-txt-cl);
}

// FORM VALIDATION
.contact__form-control span {
  visibility: hidden;
  font-size: 10px;
  line-height: 1.43;
}

.contact__form-control.error span {
  visibility: visible;
  display: block;
  width: 303px;
  color: #f87171;

  font-size: 12px;
  line-height: 1.7;

  @include mq(tablet) {
    width: 350px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.contact__form-control.success input {
  border-color: var(--grey-txt);
  color: var(--black-txt);
}

.contact__form-control.error input {
  border-color: #f87171;
  color: #f87171;
}

.contact__form-control.success input {
  border-color: var(--accent-cl);
}

// CONTACTS
.contact-list__wrapper {
  margin-top: 24px;
  padding: 24px 12px;
  border-radius: 10px;
  background-color: var(--secondary-accent-cl);

  @include mq(tablet) {
    position: relative;
    margin-top: 40px;
    padding: 24px;
  }
  @include mq(desktop) {
    max-width: 345px;
    margin-right: 28px;
    margin-top: 0;
    padding: 32px;
  }
}

.contact-list::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 128px;
  height: 108px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/images/contacts/letter.svg);

  @include mq(tablet) {
    position: absolute;
    bottom: 22px;
    right: 24px;
    margin-top: 0;
  }
  @include mq(desktop) {
    bottom: 32px;
    right: 50%;
    transform: translateX(50%);
    width: 267px;
    height: 232px;
    background-size: contain;
  }
}

.contact-list__title {
  display: block;
  margin-bottom: 16px;
  @include mq(tablet) {
    margin-bottom: 24px;
  }
}

.contact-list__item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 16px;
    @include mq(tablet) {
      margin-bottom: 24px;
    }
    @include mq(desktop) {
      margin-bottom: 18px;
    }
  }
}

.contact-list__link {
  width: 188px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-txt-cl);

  @include mq(tablet) {
    width: 100%;
  }
  @include mq(tablet) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.contact-list__icon {
  stroke: var(--subtitle-txt-cl);
  cursor: pointer;
}
