.hero {
  padding-top: 12px;
  padding-bottom: 24px;
  min-height: 1004px;

  background-image: url('../images/hero/bg-mobile.svg');
  background-repeat: no-repeat;
  background-position: top;

  .section-title {
    margin-bottom: 24px;
  }
}

.hero__img {
  margin: 96px auto 40px;
  width: 285px;
  height: 285px;
}
