.partners {
  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 121px;
  }
}

.partners__meta {
  @include mq(desktop) {
    display: flex;
    flex-direction: column;
  }
}

.partners__list {
  margin-bottom: 40px;
  max-width: 558px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.partners__item {
  height: 104px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: var(--bg-partners);

  @include mq(desktop) {
    min-width: 267px;
    min-height: 130px;

    &:first-child {
      margin-left: auto;
      margin-right: 145.5px;
    }
  }
}
