.services__title {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;

  @include mq(tablet) {
    padding-left: 40px;
    justify-content: center;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    margin-bottom: 60px;
  }
}

.services__list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 32px);
    margin-left: calc(-1 * 32px);
  }
}

.services__item {
  position: relative;

  display: flex;
  align-items: center;
  height: 312px;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 24px;

    @include mq(tablet) {
      margin-bottom: 0;
    }
  }

  @include mq(tablet) {
    height: 334px;
    margin-top: 32px;
    margin-left: 32px;
    flex-basis: calc(100% / 2 - 32px);
  }
  @include mq(desktop) {
    height: 368px;
    flex-basis: calc(100% / 4 - 32px);
  }
}

.services__item-text-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;

  display: flex;
  justify-content: space-between;
}

.services__arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--accent-cl);
  cursor: pointer;

  @include mq(tablet) {
    width: 40px;
    height: 40px;
  }
}

.services__arrow-icon {
  fill: var(--white);
}

.services__text {
  width: 166px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  &--card2,
  &--card3,
  &--card4 {
    width: 200px;
  }

  @include mq(tablet) {
    width: 260px;
    font-size: 24px;
    line-height: 1.25;
  }
  @include mq(desktop) {
    width: 200px;
    font-size: 24px;
    line-height: 1.25;
    &--card2,
    &--card3,
    &--card4 {
      width: 180px;
    }
  }
}

.services__bgcard1,
.services__bgcard2,
.services__bgcard3,
.services__bgcard4 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  width: 210px;
  height: 210px;
  background-image: radial-gradient(
    circle,
    var(--accent-cl),
    var(--accent-cl) 66%,
    transparent 66%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 21px;
  transition: all 0.3s linear;
  transform-origin: center;

  @include mq(tablet) {
    width: 221px;
    height: 221px;
  }
  @include mq(desktop) {
    width: 186px;
    height: 186px;
    background-position-y: 8px;
  }

  .services__item.clicked & {
    transform: translateX(-50%) scale(8);
    transform-origin: bottom;
  }
}

.services__bgcard2 {
  bottom: 100px;
  left: 0%;
  transform: translateX(0%);

  width: 60px;
  height: 60px;
  background-image: radial-gradient(
    circle,
    var(--secondary-accent-cl),
    var(--secondary-accent-cl) 66%,
    transparent 66%
  );
  background-position-y: 0px;

  @include mq(tablet) {
    width: 60px;
    height: 60px;
  }
  @include mq(desktop) {
    width: 60px;
    height: 60px;
  }

  .services__item.clicked & {
    transform: translateX(0%) scale(15);
    transform-origin: center;
  }
}

.services__bgcard3 {
  bottom: 70px;
  left: 100%;
  transform: translateX(-100%);

  width: 50px;
  height: 50px;
  background-position-y: 0px;

  @include mq(tablet) {
    width: 50px;
    height: 50px;
  }
  @include mq(desktop) {
    width: 50px;
    height: 50px;
  }

  .services__item.clicked & {
    transform: translateX(-100%) scale(18);
    transform-origin: center;
  }
}

.services__bgcard4 {
  width: 241px;
  height: 241px;

  left: 115%;
  transform: translateX(-115%);
  background-image: radial-gradient(
    circle,
    var(--secondary-accent-cl),
    var(--secondary-accent-cl) 66%,
    transparent 66%
  );
  background-position-x: 38px;
  background-position-y: 35px;

  @include mq(tablet) {
    width: 270px;
    height: 270px;
    background-position-x: 42px;
    background-position-y: 53px;
  }

  .services__item.clicked & {
    transform: translateX(-100%) scale(10);
    transform-origin: center;
  }
}

.services__item--blue {
  background-color: var(--secondary-accent-cl);
}
.services__item--brown {
  background-color: var(--cleaning-bg);
}

.services__image {
  position: absolute;
  z-index: 3;

  &--girl {
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 131px;
    height: 200px;

    @include mq(tablet) {
      width: 141px;
      height: 214px;
    }
    @include mq(desktop) {
      width: 139px;
      height: 211px;
    }
  }

  &--sprayer {
    bottom: 0;
    left: 0;

    @include mq(tablet) {
      width: 334px;
      height: 219px;
    }
    @include mq(desktop) {
      bottom: 22px;
      width: 280px;
      height: 200px;
    }
  }

  &--roller {
    bottom: 13px;
    right: 0;
    width: 272px;
    height: 154px;

    @include mq(tablet) {
      width: 334px;
      height: 163px;
    }
    @include mq(desktop) {
      bottom: 26px;
      width: 280px;
      height: 163px;
    }
  }

  &--chair {
    bottom: 14px;
    right: 45px;
    width: 171px;
    height: 178px;

    @include mq(tablet) {
      bottom: 13px;
      right: 35px;
      width: 189px;
      height: 197px;
    }
    @include mq(desktop) {
      bottom: 14px;
      right: 12px;
      width: 183px;
      height: 191px;
    }
  }
}
