.traffic-wrapper {
  margin-top: 24px;
  padding: 13px 0;
  height: 135px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Exo;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-white);
  text-transform: uppercase;
}

.traffic-main {
  position: absolute;
  z-index: 10;
  transform: rotate(-8deg);

  width: 476px;

  display: flex;

  background-color: var(--main);
}

.traffic-secondary {
  @extend .traffic-main;
  z-index: 0;

  transform: rotate(8deg);

  background-color: var(--secondary);
}

.running-text {
  padding: 12px 16px;
  width: 200%;

  animation: running-text-animation 4s linear infinite;

  p {
    white-space: nowrap;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.stroke-text {
  font-size: 14.5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.75px var(--text-white);
}

@keyframes running-text-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}