.footer {
  padding-top: 64px;
  padding-bottom: 64px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

  color: var(--text-title);
  background-color: var(--bg-footer);

  .logo {
    margin: 0 auto 24px;
  }
}

.social__list {
  margin-top: 28px;
  margin-bottom: 28px;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.social__icon {
  width: 40px;
  height: 40px;
}

.contacts h3 {
  margin-bottom: 8px;

  font-family: Exo;
  font-weight: 700;
  line-height: 1.4;
  text-transform: capitalize;
}