.header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;

  position: absolute;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__container {
  display: none;

  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    gap: 64px;
  }
}

.burger-menu {
  @include mq(desktop) {
    display: none;
  }
}

