.header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;

  position: absolute;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .header > .phone {
//   display: none;

//   &:focus,
//   &:hover {
//     color: var(--accent-cl);

//     transition: color var(--fast) linear;
//   }

//   @include mq(desktop) {
//     display: flex;
//     align-items: center;
//     gap: 7px;
//   }
// }

// .burger-menu{
//   line-height: 1;

//   transition: opacity var(--slow) linear, color var(--fast) linear;

//   &:hover,
//   &:focus {
//     color: var(--accent-cl);
//   }

//   svg {
//     width: 24px;
//     height: 24px;

//     @include mq(tablet) {
//       width: 32px;
//       height: 32px;
//     }
//   }

//   @include mq(desktop) {
//     display: none;
//   }
// }