<section id="about" class="section container">
  <h2 class="title"><span class="text-underline">about us</span></h2>
  <ul class="about__list">
    <li class="about__item">
      <h3 class="subtitle">Lorem ipsum dolor sit amet consectetur</h3>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida dolor in. Elementum
        netus rhoncus sagittis nunc mi non egestas est. Aliquam maecenas in sed vestibulum neque
        feugiat pulvinar. Volutpat auctor a in sem vulputate aliquam tempor sit. Nulla urna felis
        penatibus ut cras sit.
      </p>
    </li>
    <li class="about__item">
      <h3 class="subtitle">Lorem ipsum dolor sit amet consectetur</h3>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida dolor in. Elementum
        netus rhoncus sagittis nunc mi non egestas est. Aliquam maecenas in sed vestibulum neque
        feugiat pulvinar. Volutpat auctor a in sem vulputate aliquam tempor sit. Nulla urna felis
        penatibus ut cras sit.
      </p>
    </li>
  </ul>
</section>
