<section id="hero" class="section hero">
  <div class="container hero-wrapper">
    {% include 'components/bubbles.html' %}
    <lottie-player
      class="bubble-bg"
      src="https://lottie.host/113efa93-402d-497e-a2be-6cf3b954fd75/ly57x5gO01.json"
      background="transparent"
      speed="2"
      loop
      autoplay
    ></lottie-player>
    <div class="hero-meta">
      <h1 class="title">We will give you cleanliness and free time!</h1>
      <p class="subtitle">
        <strong>Total Clean</strong> will help you save time and money. We use
        professional equipment and provide free consultations.
      </p>
      <a class="accent-btn" href="#contact">Order cleaning</a>
    </div>
  </div>
</section>
