<section id="partners" class="section container partners">
  <div class="partners__meta">
    <h2 class="title"><span class="text-underline">our exclusive partners </span></h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          class="partners__logo"
          loading="lazy"
          width="131px"
          height="56px"
          src="./assets/images/partners/sync.svg"
          alt="sync company logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/images/partners/influence.svg"
          loading="lazy"
          width="195px"
          height="56px"
          alt="influence company logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/images/partners/coding.svg"
          width="185px"
          height="56px"
          loading="lazy"
          alt="coding company logo"
        />
      </li>
    </ul>
  </div>
  <img
    class="image"
    loading="lazy"
    width="461px"
    height="461px"
    src="./assets/images/partners/business-deal.svg"
    alt="business deal"
  />
</section>
