<section id="partners" class="section container partners">
  <h2 class="title">our exclusive partners</h2>
  <ul class="partners__list">
    <li class="partners__item">
      <img class="partners__logo" src="./assets/images/partners/sync.svg" alt="sync company logo" />
    </li>
    <li class="partners__item">
      <img
        class="partners__logo"
        src="./assets/images/partners/influence.svg"
        alt="influence company logo"
      />
    </li>
    <li class="partners__item">
      <img
        class="partners__logo"
        src="./assets/images/partners/coding.svg"
        alt="coding company logo"
      />
    </li>
  </ul>
  <img class="partners__img" src="./assets/images/partners/business-deal.svg" alt="business deal" />
</section>
