<section id="services" class="section container services">
  <div class="services__meta">
    <h2 class="title title--left"><span class="text-underline">services</span></h2>
    <div class="services__wrapper">
      <div class="services__main">
        <h3 class="services__title">Lorem ipsum</h3>
        <ul class="services__list">
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
        </ul>
      </div>
      <div class="services__secondary-wrapper">
        <div class="services__secondary">
          <h3 class="services__title">Lorem</h3>
          <ul class="subservices__list">
            <li>ipsum</li>
            <li>ipsum</li>
          </ul>
        </div>
        <div class="services__secondary">
          <h3 class="services__title">Lorem</h3>
          <ul class="subservices__list">
            <li>ipsum</li>
            <li>ipsum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img
    class="image"
    loading="lazy"
    width="461px"
    height="461px"
    src="./assets/images/services/services.svg"
    alt="services"
  />
</section>
