<section id="services" class="section container services">
  <div class="services__meta">
    <h2 class="title">services</h2>
    <ul class="services__list">
      <li class="services__item">
        <h3 class="services__title">Lorem ipsum</h3>
        <ul class="subservices__list">
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
        </ul>
      </li>
      <li class="services__item">
        <h3 class="services__title">Lorem</h3>
        <ul class="subservices__list">
          <li>ipsum</li>
          <li>ipsum</li>
        </ul>
      </li>
      <li class="services__item">
        <h3 class="services__title">Lorem</h3>
        <ul class="subservices__list">
          <li>ipsum</li>
          <li>ipsum</li>
        </ul>
      </li>
    </ul>
  </div>
  <img class="image" src="./assets/images/services/services.svg" alt="services" />
</section>
