<div class="menu-backdrop backdrop is-hidden" data-menu-backdrop>
  <div style="transform: translateX(100%)" class="mobile-menu" data-mobile-menu>
    <button class="close-btn" type="button" data-close aria-label="close button">
      <svg width="100%" height="100%">
        <use href="./assets//images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    {% include 'components/nav-menu.html' %}
    <a class="phone" href="tel:+447771703529">
      <svg class="phone-img" width="20px" height="20px">
        <use href="./assets/images/sprite.svg#icon-phone"></use>
      </svg>
      +44 77 7170 3529
    </a>
  </div>
</div>
