<div class="traffic-wrapper">
  <div class="traffic-main">
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
  </div>
  <div class="traffic-secondary">
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
    <div class="running-text">
      <p>we buy traffic <span class="stroke-text">we buy traffic</span></p>
    </div>
  </div>
</div>
